
   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Details</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1 id="titleDetails">Pok&#xE9mon Details</h1>
    <h3>Pok&#xE9mon:</h3>
    <p><strong>ID:</strong> <%=pokemonDetails._id %>  &nbsp;&nbsp;&nbsp;  
        <strong>Name:</strong> <%=pokemonDetails.name %>  &nbsp;&nbsp;&nbsp; 
        <strong>Ability:</strong> <%=pokemonDetails.ability %> &nbsp;&nbsp;&nbsp; 
        <strong>Level:</strong> <%=pokemonDetails.level %> &nbsp;&nbsp;&nbsp;
        <strong>Added to Favorites:</strong> <%=pokemonDetails.isFavorite %>
    </p>

    <br><br>
    
    <form action="/updatePokemon/<%=pokemonDetails._id%>">
        <button>Update Pok&#xE9mon</button>
    </form>
    <br>
    <form action="/deletePokemon/<%=pokemonDetails._id%>?_method=DELETE"  method="POST">
        <button>Delete Pok&#xE9mon</button>
    </form>
</body>
</html>